__pycache__/
*.pyc
outputs/
model_hub/
*.log
logs/

.tmp/
.miniforge/
.gpuenv/
Med_data/
PublicMed_data/
PublicMedLabeled_data/
PublicMedFingerprint_data/
result/
reference_cache/
methods/*
!methods/__init__.py
!methods/lamp_merge.py
!methods/my_merge.py
